*, *::after, *::before {
  box-sizing: border-box;
}

input, textarea, button, select {
  font: inherit;
}

:root {
  --border-radius: 10px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.root {
  font-size: 1.6rem;
}

button, input , fieldset ,select{
  border-radius: var(--border-radius);
  border: none;
  background-color: white;
  padding: .5rem 1rem;
}

fieldset {
  padding: 1rem 2rem;
  background: linear-gradient(to right bottom, rgba(255, 210, 171, 0.556), rgb(195, 254, 255)) ;
}
legend {
  font-size: 2rem;
  letter-spacing: 1.3;
}

select, button:hover ,#ul:hover {
  cursor: pointer;
}

#ul {
  font-size: 1.3rem;
}

#li {
  font-size: 1rem;
}


.hidden {
  display: none;
}
